<template>
  <div class="container">
    <h1>A contagem atual é: {{ resultado }}</h1>
    <button @click="incrementar">Contar</button>
  </div>
</template>

<script>
export default {
  name: 'Contador',
  data() {
    return {
      resultado: 0
    }
  },
  methods: {
    incrementar() {
      this.resultado++;
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  h1 {
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #00A8ff;
    border: none;
    border-radius: 10px;
    color: white;

    &:hover {
      background-color: #40beff;
    }
  }
}
</style>
